/* You can add global styles to this file, and also import other style files */
body{
    padding: 0px;
    margin: 0px;
}

.button{
    background-color: black;
    color: #fff;
    border: 0px;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
}
